.App {
  /*text-align: center;*/
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;
   */
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#edit:hover {
  color: #5ed4f5;
  cursor: pointer;
}

#delete:hover {
  color: #dd1b1b;
  cursor: pointer;
}

.ant-layout-sider-zero-width-trigger{
  bottom: 0px !important;
  top: initial !important;
  z-index: 5 !important;
}

.view-box{
  padding: 20px;
}